- var items = [{id:'home',class:'home',url:'/',tool:'Home'},{id:'about',class:'info',url:'/about',tool:'About Me'},{id:'contact',class:'envelope',url:'/contact',tool:'Contact'},{id:'news',class:'newspaper-o',url:'/news',tool:'News'},{id:'gallery',class:'image',url:'/gallery',tool:'Gallery'},{id:'games',class:'gamepad',url:'/games',tool:'Games'},{id:'links',class:'link',url:'/links',tool:'Links'},{id:'subscribe',class:'rss',url:'/subscribe',tool:'Subscribe'},{id:'account',class:'user',url:'/join',tool:'Sign Up'}]
#wrap
  input#toggle(type='checkbox')
  .toolchest
    each item in items
      .tool(id="tool-#{item['id']}")
        p
          span= item['tool']
  .plate
  each item in items
    a.wedge(id="wedge-#{item['id']}",href="#{item['url']}",onmouseover="if( $('#wrap input').is(':checked') ) $('#tool-#{item['id']} p').css('top','0')",onmouseout="if( $('#wrap input').is(':checked') ) $('#tool-#{item['id']} p').css('top','120px')")
      svg
      i(class="fa fa-#{item['class']}")
  label.dot(for='toggle')
    svg#svglogo( xmlns='http://www.w3.org/2000/svg', version='1.1', pagealignment='none', x='0', y='0', width='353.55339', height='353.55339', viewbox='0 0 500 500', enable-background='new 0 0 353.55339 353.55339', xml:space='preserve', bodybackgroundcolor='rgba(255,0,0,0)')
      rect(x='0', y='0', width='500', height='500', fill='none')
      g(type='LAYER', name='workspace', locked='true')
        g(type='LAYER', name='Layer 01')
          path.circle(transform='matrix(1 0 0 1 255.4278416347392 223.4993614303981)', width='491.7', height='489.1', stroke-miterlimit='3', d='M-252.4 27.4C-252.4-107.7-142.4-217.2-6.6-217.2 129.2-217.2 239.3-107.7 239.3 27.4 239.3 162.5 129.2 272-6.6 272 -142.4 272-252.4 162.5-252.4 27.4Z')
          path.ow(transform='matrix(1 0 0 1 20.434227330779322 57.47126436781617)', width='472', height='469.5', stroke-miterlimit='3', d='M169.2 421.3C119.9 406.4 49.6 375.8 10.7 284.5 -28.3 193.1 1.1 96.1 42 48.8 82.8 1.6 127.5-34.8 208.6-41.2 289.7-47.6 319.9-5.6 327.5 63.4 337.9 210.7 310.2 349.2 212.2 380.3 244 388.4 273.8 388.1 295.4 383.8 278.9 401.8 252 414.7 210 428.1 293.6 432.6 355 398.8 390 364.9 425.1 331.1 484.3 254.2 458.2 137.8')
    span.title OneWolf